/* UNIVERSAL RESET */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLE HEADINGS */
h1, h2, h3, h4, h5, .h5 {
    font-family: "Avenir Next", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

/* STYLE TOP AD BANNER */
section#top div.adtop {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: .7rem 1.2rem;
}

/* RESIZE ALL IMAGES TO DEFAULT 100% */
img {
    width: 100%;
}

/* OVERLAY TO MAKE PAGE INACTIVE WHEN MENU IS OUT */
.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: .2s ease-out;
}

/* MAKE THE NAV CONTAINER RELATIVE POSITION */
.nav-container {
    display: block;
    position: relative;
    font-family: "Anonymous Pro", sans-serif;
    color: #000;
}

/* STYLE THE CHECKBOX */
.nav-container .checkbox {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    height: 22px;
    width: 22px;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
}

/*STYLE THE HAMBURGER */
.nav-container .hamburger {
    width: 27px;
    height: 20px;
    position: absolute;
    top: 27px;
    left: 18px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger .line {
    display: block;
    width: 100%;
    height: 1.1px;
    background: #000;
}

.nav-container .hamburger .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}


.nav-container .sec-nav {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .sec-nav a {
    font-size: 20px;
    color: inherit;
    text-decoration: none;
}

.nav-container .sec-nav .product {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.nav-container .sec-nav h3 {
    font-family: inherit;
    border: 2px solid;
    padding: .4rem 1.2rem;
    font-size: 24px;
    font-weight: 700;
}

/*STYLE THE MENU */
.nav-container #menu ul {
    display: block;
    list-style-type: none;
    background-color: #fff;
    width: 88%;
    height: 100vh;
    position: absolute;
    top: 70px;
    left: -550px;
    transition: .2s ease-out;
    padding: 5rem .7rem;
}

.nav-container #menu li {
    padding: .9rem 1.2rem;
}

.nav-container #menu li a {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
    font-size: large;
    display: flex;
    justify-content: space-between;
}

.nav-container #menu ul > .socials {
    background-color: whitesmoke;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-container #menu ul > .socials a {
    padding: 0 1.3rem;
    font-size: 20px;
    color: inherit;
}

/* SHOW NAV WHEN CHECKBOX IS CHECKED */
.nav-container .checkbox:checked~#menu ul {
    left: 0;
    z-index: .999;
}

/* APPLY OVERLAY ON PAGE WHEN CHECKBOX IS CHECKED */
.nav-container .checkbox:checked~.overlay {
    opacity: .4;
}

/* CHANGE THE HAMBURGER TO AN X WHEN CHECKBOX IS CHECKED */
.nav-container .checkbox:checked+.hamburger .line1 {
    transform: rotate(45deg);
}


.nav-container .checkbox:checked+.hamburger .line2 {
    transform: scaleY(0);
}

.nav-container .checkbox:checked+.hamburger .line3 {
    transform: rotate(-45deg);
}

/* STYLE PRODUCTS SECTION */
section#products_main {
    margin-top: 72px;
    padding: 1rem;
}

.desc {
    text-align: center;
    margin: 16px 0;
}

section#products_main .yoghurts{
    border: 2px solid;
}

section#products_main .yoghurts .yogh_image {
    border-bottom: 3px solid;
    height: 430px;
    overflow: hidden;
}

section#products_main .yoghurts h2 {
    font-size: 3.9rem;
    padding: 2.4rem 0;
}

section#products_main .yoghurts p {
    width: 67%;
    line-height: 1.8;
    letter-spacing: .4px;
    margin: -12px auto 18px;
    font-weight: lighter;
}

section#products_main .yoghurts button {
    background-color: #000;
    border: none;
    outline: none;
    color: #fff;
    padding: 16px 32px;
    margin: 8px 0 30px;
    font-size: 16px;
}

section#products_main .bestsellers h2 {
    font-size: 24px;
    letter-spacing: 1.2px;
    margin: 3.7rem 0;
}