@media screen and (max-width:1024px) {
     /*STYLE THE HAMBURGER */
     .nav-container .hamburger {
        /* outline: auto; */
        visibility: visible;
    }
    section#products_main .bestsellers h2 {
        font-size: 10px;
        letter-spacing: 1px;
        margin: 3rem 0;
    }
/* } */
/* @media screen and (max-width:768px) { */
    .nav-container #menu ul {
        display: block;
        list-style-type: none;
        background-color: #fff;
        width: 30%;
        height: 80vh;
        position: absolute;
        top: 70px;
        left: -550px;
        transition: .2s ease-out;
        padding: 2rem .7rem;
        /* outline: auto; */
        z-index: 2;
    }
    .nav-container #menu li {
        padding: .5rem 1.2rem;
    }
    .nav-container #menu li a {
        color: inherit;
        text-decoration: none;
        font-family: inherit;
        font-size: large;
        display: flex;
        justify-content: start;
        
    }
    .nav-container #menu ul > .socials {
        background-color: whitesmoke;
        position: absolute;
        display: flex;
        /* flex-direction: column; */
        top: 80%;
        left: 0;
        height: 15vh;
        width: 100%;
        /* outline: auto; */
    }
    .nav-container #menu ul > .socials a {
        padding: 0 1.3rem;
        font-size: 15px;
        color: inherit;
    }
    .nav-container #menu ul > .socials a i {
        /* outline: auto; */
        padding: 0%;
        margin: 0%;
    }
    section#products_main .yoghurts .yogh_image{
        display: flex;
        justify-content: center;
        /* outline: auto; */
    }
        section#products_main .yoghurts .yogh_image img {
        height: 700px;
        width: 550px;
        transition: 0.5s ease; 
        /* outline: auto; */
    }
    section#products_main .yoghurts .yogh_image img:hover{
        transform: scale(1.1);
    }
    section#products_main .bestsellers h2{
        font-size: 25px;
    }
    section#products_main .bestsellers .row .a, .b, .c, .d{
        /* outline: auto; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;
     }
     section#products_main .bestsellers .row .hid-in{
        display: none;
        visibility: hidden;
        /* outline: auto; */
    }
     section#products_main .bestsellers .row .best_prod .img{
        border-radius: 10%;
        /* box-shadow: 5px 2px 8px gray; */
        flex: 1;
        max-width: 90%;
        overflow: hidden;
        /* outline: auto; */

    }
    section#products_main .bestsellers .row .best_prod .img img{
       /* max-width: 100%; */
       /* height: 500px; */
       border-radius: 10%;
       /* filter: drop-shadow(4px 2px 5px gray); */
       transition: 0.5s ease;
       /* cursor: pointer;  */
    }
    section#products_main .bestsellers .row .best_prod .img img:hover{
        transform: scale(1.1);
    }

    section#products_main .bestsellers .row .desc h1{
        /* outline: auto; */
        font-size: 20px;
        text-align: center;
    }

    /* ---------------------Adding a brand quotes------------------------ */
    section#products_main .bestsellers .row .ItemSpeech{
        /* outline: auto; */
        max-width: 200%;
        height: 300px;
        margin: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
    }
    section#products_main .bestsellers .row .ItemSpeech .imgg{
        width: 150%;
        background-color:ghostwhite;
        transition: 0.5s ease;
    }
    section#products_main .bestsellers .row .ItemSpeech .imgg:hover{
        transform: scale(1.1);
    }
    section#products_main .bestsellers .row .ItemSpeech .imgg h3{
        position:absolute;
        top: 40%;
        left: 30%;
        text-align: center;
        text-shadow: 1px 1px 1px black;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 50px;
        color: #fff
    }
    section#products_main .bestsellers .row .ItemSpeech .imgg img{
        min-width: 200px;    
    }
        /* ---------------------Ended quotes------------------------ */
        
        /* ---------------------Adding a Flavours cards------------------------ */
    section#products_main .bestsellers .flavours{
        /* outline: auto; */
    }
    section#products_main .bestsellers .flavours .colu-list{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        min-height: 400px;
    }
    section#products_main .bestsellers .flavours .colu-list .card{
        background: linear-gradient(to top, rgba(31, 39, 44, 0.308) 50%,rgba(42, 56, 65, 0.37) 50%);
        border-radius: 20px;
        margin: 15px;
        padding: 20px 35px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        height: 356px;
        width: 535px;
    }
    section#products_main .bestsellers .flavours .colu-list .card img{
        width: 300px;
        height: 250px;
        filter: drop-shadow(-30px -15px 5px gray);
        overflow: hidden;
        cursor: pointer;
        transition: 0.5s ease;
    }
    section#products_main .bestsellers .flavours .colu-list .card img:hover{
        transform: scale(1.1);
    }
    section#products_main .bestsellers .flavours .lable{
        display: none;
    }
    section#products_main .bestsellers .flavours .colu-list h3, i{
        font-size: 20px;
        padding-left: 10px;
        cursor: pointer;
    }
            /* ---------------------Ending the Flavours cards------------------------ */

            /* ///////////////////// footer style ////////////////// */

        #footer{
            margin-top: 1rem;
            background-color: black;
            padding: 2.5rem 1rem;
        }
        .sub-footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #footer .logo{
            color: white;
            font-size: 1.5rem;
            font-weight: 700;
            width: 100%;
        }
        #footer .content ul{
            color: white;
            font-size: 1rem;
            list-style: none;
        }
        #footer .content a{
            text-decoration: none;
            color: white;
            line-height: 2;
        }
        #footer .mission{
            color: white;
            font-size: 1.5rem;
            font-weight: 700;
            }
        #footer .mission-content{
            color: white;
            line-height: 2;
            font-size: 1rem;
        }
        .taste{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .taste a{
            border: 1px solid white;
            padding: .5rem;
            color: white;
            text-decoration: none;
        }

        .last_footer{
            display: flex;
            justify-content: space-between;
            align-content: center;
            margin-top: 6rem;
        }
        .bit{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid white;
        }
        .bit span{
            font-size: 2rem;
            color: white;
        }
        .newspapper h3{
            color: #fff;
            font-size: 1rem;
            font-weight: 600;
        }
        .newspapper form{
            width: 300px;
            background-color: black;
        }
        .newspapper form input {
            background-color: black;
            color: white;
            border: none;
            outline: none;
            width: 400px;
            padding: 10px 7px;
        }
        .newspapper form input:focus{
            
            color: orange;
            background-color: black;
        }
        .footer_social{
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .footer_social i{
            color: white;
            font-size: 1.3rem;
            padding-left: 20px;
            text-decoration: none;
        }
        .copyright{
            color: #fff;
            border-top: 1px solid #fff;
            width: 100%;
            text-align: center;
            padding: 25px 0;
            background: #000000;
            font-weight: 300;
        }
}
@media screen and (max-width: 768px) {
    .nav-container #menu ul > .socials a {
        padding: 0 8px;
    }
    section#products_main .bestsellers .row .ItemSpeech .imgg h3{
        top: 40%;
        left: 20%;
        font-size: 40px;
    }



    /* ///////////////////// footer style ////////////////// */

    .sub-footer{
        align-items: start;
    }
    #footer .logo{
        font-size: 1.5rem;     
    }
    #footer .content ul{
        font-size: 1rem;
    }
    #footer .mission{
        font-size: 1.5rem;
        
    }
    #footer .mission-content{
        font-size: 1rem;
        width: 50vw;
    }
    .taste{
        display: flex;
        justify-content: end;
    }
    .taste a{
        font-size: 1rem;
    }
    .newspapper h3{
        font-size: 1rem;
    }
    .newspapper form input {
        padding: 6px 7px;
    }
    .footer_social{
        width: 200px;
        display: flex;
        /* outline: auto; */
    }
    .footer_social i{
        font-size: 1.5rem; 
    }
    .copyright p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 525px) {
    section#products_main .bestsellers .row .ItemSpeech .imgg h3{
        left: 10%;
        font-size: 30px;
    }
    section#products_main .bestsellers .flavours .colu-list .card{
        border-radius: 17px;
        height: 256px;
        width: 400px;
        /* outline: auto; */
    }
    section#products_main .bestsellers .flavours .colu-list .card img{
        width: 250px;
        height: 200px;
        filter: drop-shadow(-30px -15px 5px gray);
        overflow: hidden;
        cursor: pointer;
        transition: 0.5s ease;
    }

    .nav-container #menu li a {
        font-size: 12px;
        justify-content: start;
    }
    .nav-container #menu li a i {
        /* outline: auto; */
        font-size: 12px;
    }
    .nav-container #menu ul > .socials {
        flex-direction: column;
    }
    #footer .mission-content{
        font-size: 1rem;
        width: 70vw;
        /* outline: auto; */
    }
    .newspapper{
    display: inline-flex;
    flex-direction: column;
    /* outline: auto; */
    }
    .footer_social{
        justify-content: end;
        width: 100%;
    }
    .last_footer{
        flex-direction: column;
    }
    .copyright p{
        font-size: 10px;
    }
}

@media screen and (max-width: 375px) {
    .nav-container #menu li a i {
        /* outline: auto; */
        font-size: 12px;
        padding: 0%;
    }
    #footer .logo{
        font-size: 1.2rem;
     }
     #footer .content ul{
        font-size: 13px;
    }
    #footer .mission{
        font-size: 1.2rem;
    }
    #footer .mission-content{
        font-size: 13px;
        width: 70vw;
    }
    .newspapper form{
        width: 250px;
    }
}